*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.nav_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(77, 75, 75);
    color: white;
} 

.navLeftImg{
    width: 120px;
    height: 40px;
    padding: 10px ;
}

.navRight{
    display: flex;
    list-style: none;
    margin-left: 100px;
    
}
.navRight li a{
    margin-right: 10px;
    text-decoration: none;
    color: white;
    padding: 7px 10px;
    font-size: 18px;
    transition: 0.5s;
} 
.navRight li a:hover{
    color: rgb(42, 165, 128);
}

.main_sec_container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/background.png"), linear-gradient(45deg, #725b5b, #000);
    color: white;
}

.bannerImg{
    height: 320px;
}

.title{
    font-size: 40px;
    font-weight: bolder;
}

.desc{
    margin: 10px auto;
    text-align: justify;
}
.btn{
    background-color: rgba(242, 3, 3, 0.942);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgb(42, 165, 128);
}
.about_title{
    text-align: center;
    margin: 30px 0px 50px 0px
}
.about_container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.services_sec{
    background-image: url("../images/background.png"), linear-gradient(45deg, #725b5b, #000);
    color: white;
    padding: 20px 0px;
}
.services_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
}
.box{
    width: 200px;
    background: #090909;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 20px grey;
}
.box img{
    width: 120px;
    height: 120px;
}
.box a{
    color: white;
    font-weight: bolder;
}
.box a:hover{
    color: rgb(42, 165, 128);
}
.footer_container{
    padding: 20px;
    background-color: #000;
    color: aliceblue;
}
.footer_container a{
    display: block;
    color: aliceblue;
    margin-top: 10px;
}
.footer_container a:hover{
    color: rgb(42, 165, 128);
}
.box4{
    width: 220px;
    text-align: justify;
}
.footer_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerBottom{
    text-align: center;
}
.bottom_hr{
    margin: 40px 50px 20px 50px;
}
